<h1>Lista de Posts</h1>

{{#each posts}}
    <small>{{createdAt}}/</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a><br><!--manda pro deletar junto com o id do post q quer deletar-->
    <a href="/cad"><button>Criar mais postagens</button></a>
    <a href="/editar/{{id}}"><button class="btn btn-success">Editar</button></a>
    <hr>
{{/each}}